@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Telo besedila = Inter */
    html {
        font-family: "Inter", sans-serif;
    }

    /* Headingi = Playfair Display */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Merriweather", serif;
        margin-bottom: 0.75rem;
        color: #1f2937; /* Tailwind text-gray-800 */
    }
}
